#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

export DH_VERBOSE=1
export DH_OPTIONS
export DH_GOPKG := github.com/subgraph/paxrat

%:
	dh $@ --buildsystem=golang --with=golang,systemd 

override_dh_auto_build:
	dh_auto_build -- -buildmode=pie -pkgdir=$$(mktemp -d -p $(CURDIR))

override_dh_auto_install:
	dh_auto_install
	mkdir -p $(CURDIR)/debian/paxrat/sbin
	mv $(CURDIR)/debian/paxrat/usr/bin/paxrat $(CURDIR)/debian/paxrat/sbin
	rm -rf $(CURDIR)/debian/paxrat/usr/share/gocode

override_dh_auto_test:
	@echo skipped auto test
